<app-nav></app-nav>

<div class="main-container main-background">

  <h2 style="margin-left: 475px;">Search for a job</h2>

  <div class="row text-center ">
    <div class="col-md-12 text-center">
      <form>
        <input class="search-input" placeholder="Enter search query here">
      </form>
    </div>
  </div>

  <section class="main-background">
    
    <div class="row">
      <div class="col-md-4">
        <div class="filter-pan filter-main" style="background: #ffffff;">

          <h6>Filter your job search</h6>
          <a style="margin-left: 70px;" href="#">Clear search</a>

          <h2>Job location</h2>
          <input placeholder="Start typing city or country name">

          <h2>Category</h2>
          <input placeholder="Select job position">

          <h2>Type</h2>
          <input placeholder="Select job types">

          <h2>Language</h2>
          <input placeholder="Select languages">

        </div>
      </div>
      <div class="col-md-8">
        Jobs we've found for you - 22,000 results
        <div class="result-pan">

        <div class="result-card">
          <img alt="Client Logo" class="img-circle" src="dist/assets/images/users/avatar-1.jpg">
          <h3>Nestle Ghana</h3>
          <h4>Full time job at Nestle Ghana</h4>

          <h4>Be a part of our Client Management team and join us in areas of innovation, forecasting, brand & market understanding. Are you the curious bright mind we are looking for?</h4>

          <h5>Posted an hour ago</h5>
        </div>

          <div class="result-card">
            <img alt="Client Logo" class="img-circle" src="dist/assets/images/users/avatar-1.jpg">
            <h3>Nestle Ghana</h3>
            <h4>Full time job at Nestle Ghana</h4>

            <h4>Be a part of our Client Management team and join us in areas of innovation, forecasting, brand & market understanding. Are you the curious bright mind we are looking for?</h4>

            <h5>Posted an hour ago</h5>
          </div>

          <div class="result-card">
            <img alt="Client Logo" class="img-circle" src="dist/assets/images/users/avatar-1.jpg">
            <h3>Nestle Ghana</h3>
            <h4>Full time job at Nestle Ghana</h4>

            <h4>Be a part of our Client Management team and join us in areas of innovation, forecasting, brand & market understanding. Are you the curious bright mind we are looking for?</h4>

            <h5>Posted an hour ago</h5>
          </div>

          <div class="result-card">
            <img alt="Client Logo" class="img-circle" src="dist/assets/images/users/avatar-1.jpg">
            <h3>Nestle Ghana</h3>
            <h4>Full time job at Nestle Ghana</h4>

            <h4>Be a part of our Client Management team and join us in areas of innovation, forecasting, brand & market understanding. Are you the curious bright mind we are looking for?</h4>

            <h5>Posted an hour ago</h5>
          </div>

          <div class="result-card">
            <img alt="Client Logo" class="img-circle" src="dist/assets/images/users/avatar-1.jpg">
            <h3>Nestle Ghana</h3>
            <h4>Full time job at Nestle Ghana</h4>

            <h4>Be a part of our Client Management team and join us in areas of innovation, forecasting, brand & market understanding. Are you the curious bright mind we are looking for?</h4>

            <h5>Posted an hour ago</h5>
          </div>

        </div>
      </div>

    </div>
  </section>

</div>

<div class="footer-container">

  <footer class="short bg-secondary-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <span class="sub">© Copright 2014 Medium Rare</span>
          <ul>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Privacy &amp; Security Statement</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>

        <div class="col-sm-2 text-right">
          <ul class="social-icons">
            <li>
              <a href="#">
                <i class="icon social_twitter"></i>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="icon social_facebook"></i>
              </a>
            </li>
          </ul>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </footer>
</div>
