<div class="main-container">

  <section>
    <div class="container">
      <div class="row">
        <h2>Your Dashboard</h2>
        <div class="col-md-4">
          <div class="profile-card">
            <img alt="Client Logo" class="img-circle" src="dist/assets/images/users/avatar-1.jpg">
            <h4>John Doe</h4>
            <h5>john@gmail.com</h5>
          </div>
        </div>
        <div class="col-md-8">
          <div class="results-pan">
            <div class="result-card">
              <img alt="Client Logo" class="img-circle" src="dist/assets/images/users/avatar-1.jpg">
              <h3>Nestle Ghana</h3>
              <h4>Full time job at Nestle Ghana</h4>

              <h4>Be a part of our Client Management team and join us in areas of innovation, forecasting, brand & market understanding. Are you the curious bright mind we are looking for?</h4>

              <h5>Posted an hour ago</h5>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
