
<div class="main-container">

  <ul class="nav nav-tabs">
    <li role="presentation" [ngClass]="{'active': isOnlineActive }" class="active"><a (click)="tabChange('online')" class="tab-stuff" >Online(0)</a></li>
    <li role="presentation" [ngClass]="{'active': isProfileActive }" ><a (click)="tabChange('pending')" class="tab-stuff">Pending(0)</a></li>
    <li role="presentation" [ngClass]="{'active': isDraftActive }" ><a (click)="tabChange('draft')"  class="tab-stuff">Draft(0)</a></li>
    <li role="presentation" [ngClass]="{'active': isDeclinedActive }" ><a (click)="tabChange('declined')" class="tab-stuff">Declined(0)</a></li>
    <li role="presentation" [ngClass]="{'active': isExpiredActive }"><a (click)="tabChange('expired')" class="tab-stuff">Expired(0)</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" [ngClass]="{'active': isOnlineActive }" *ngIf="isOnlineActive" id="online-2">
      <h1>Online</h1>
    </div>

    <div class="tab-pane" [ngClass]="{'active': isProfileActive }" *ngIf="isProfileActive" id="pending-2">
      <h1>Pending</h1>
    </div>

    <div class="tab-pane" [ngClass]="{'active': isDraftActive }" *ngIf="isDraftActive" id="draft-2">
      <h1>Draft</h1>
    </div>

    <div class="tab-pane" [ngClass]="{'active': isDeclinedActive }" *ngIf="isDeclinedActive" id="declined-2">
      <h1>Declined</h1>
    </div>

    <div class="tab-pane" [ngClass]="{'active': isExpiredActive }" *ngIf="isExpiredActive" id="expired-2">
      <h1>Expired</h1>
    </div>
  </div>

</div>
