<div class="main-container">

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li role="presentation" [ngClass]="{'active': isOnlineActive }" class="active"><a (click)="tabChange('online')" class="tab-stuff" >Online(0)</a></li>
            <li role="presentation" [ngClass]="{'active': isProfileActive }" ><a (click)="tabChange('pending')" class="tab-stuff">Pending(0)</a></li>
            <li role="presentation" [ngClass]="{'active': isDraftActive }" ><a (click)="tabChange('draft')"  class="tab-stuff">Draft(0)</a></li>
            <li role="presentation" [ngClass]="{'active': isDeclinedActive }" ><a (click)="tabChange('declined')" class="tab-stuff">Declined(0)</a></li>
            <li role="presentation" [ngClass]="{'active': isExpiredActive }"><a (click)="tabChange('expired')" class="tab-stuff">Expired(0)</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane tab-bdy active" [ngClass]="{'active': isOnlineActive }" *ngIf="isOnlineActive" id="online-2">
              <h2>Looks like you don't have any jobs online at the moment.</h2>
              <br>
              <h4>Let us help you find the perfect candidate.</h4>
              <br>

              <button class="btn btn-primary">Post a Job</button>

            </div>

            <div class="tab-pane tab-bdy" [ngClass]="{'active': isProfileActive }" *ngIf="isProfileActive" id="pending-2">
              <h2>You have no pending jobs at the moment.</h2>
              <br>
              <h4>Let us help you find the perfect candidate.</h4>
              <br>

              <button class="btn btn-primary">Post a Job</button>
            </div>

            <div class="tab-pane tab-bdy" [ngClass]="{'active': isDraftActive }" *ngIf="isDraftActive" id="draft-2">
              <h2>You have no Drafts.</h2>
              <br>
              <h4>Let us help you find the perfect candidate.</h4>
              <br>

              <button class="btn btn-primary">Post a Job</button>
            </div>

            <div class="tab-pane tab-bdy" [ngClass]="{'active': isDeclinedActive }" *ngIf="isDeclinedActive" id="declined-2">
              <h2>You have no declined jobs at the moment.</h2>
              <br>
              <h4>Let us help you find the perfect candidate.</h4>
              <br>

              <button class="btn btn-primary">Post a Job</button>
            </div>

            <div class="tab-pane tab-bdy" [ngClass]="{'active': isExpiredActive }" *ngIf="isExpiredActive" id="expired-2">
              <h2>You have no expired jobs at the moment.</h2>
              <br>
              <h4>Let us help you find the perfect candidate.</h4>
              <br>

              <button class="btn btn-primary">Post a Job</button>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

  </section>


</div>
