.sidebar{
    width: 350px;
    padding: 15px;
    margin: 25px 25px 25px 105px;
    background: #000;
}

.main-container{
    padding-top: 80px;
    padding-left: 180px;
}

.nav-tabs{
    width:600px;
}

.tab-stuff{
    cursor: pointer;
}