.offscreen-container{
    position: fixed;
    width: 100px;
    background: #333333;
    /* right: 0px; */
    left: 0px;
    height: 100%;
    top: 0px;
    z-index: 99999;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    padding: 40px;
}
.offscreen-container.reveal-nav{
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.overlay-bar{
    background: #5f9ea0;
    height: 60px;
}
.overlay-bar .menu li a{

}

.overlay-bar .login-button{
    border-color: #29d9c2;
    color: #fff;
}
.nav-menu{
    padding-top:20px;
}