<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div class="user-details">
      <div class="pull-left">
        <img src="dist/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
      </div>
      <div class="user-info">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">John Doe <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
            <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
            <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
          </ul>
        </div>

        <p class="text-muted m-0">School</p>
      </div>
    </div>
    <div id="sidebar-menu">
      <ul>
        <li>
          <a style="cursor: pointer" routerLink="/dashboard" routerLinkActive="active" class="waves-effect"><i class="md md-home"></i><span> Dashboard </span></a>
        </li>

        <li class="has_sub" (click)="isClassVisible = !isClassVisible;">
          <a [ngClass]="{'subdrop': isClassVisible,'active': isClassVisible }" class="waves-effect"><i class="md md-person-outline"></i><span> Driver </span><span class="pull-right"><i [ngClass]="{'md-remove': isClassVisible }" class="md md-add"></i></span></a>
          <ul [style.display]="getDriver()" class="list-unstyled">
            <li><a style="cursor: pointer" routerLink="/driver" routerLinkActive="active">New Driver</a></li>
            <li><a style="cursor: pointer" routerLink="/mdrivers" routerLinkActive="active">Manage Drivers</a></li>
          </ul>
        </li>

        <li class="has_sub" (click)="isVehicleVisible = !isVehicleVisible;">
          <a [ngClass]="{'subdrop': isVehicleVisible,'active': isVehicleVisible }" class="waves-effect"><i class="md md-directions-car"></i> <span> Vehicles </span> <span class="pull-right"><i [ngClass]="{'md-remove': isVehicleVisible }" class="md md-add"></i></span></a>
          <ul [style.display]="getVehicles()" class="list-unstyled">
            <li><a style="cursor: pointer" routerLink="/vehicle" routerLinkActive="active">New Vehicle</a></li>
            <li><a style="cursor: pointer" routerLink="/mvehicles" routerLinkActive="active">Manage Vehicles</a></li>
          </ul>
        </li>

        <li>
          <a style="cursor: pointer" routerLink="/users" routerLinkActive="active" class="waves-effect"><i class="md md-people"></i><span> Users </span></a>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>


