<div class="nav-container">

  <nav class="top-bar overlay-bar offscreen-menu">
    <div class="container reveal-nav" style="width: 100%">


      <div class="row nav-menu clearfix" style="margin-left: 680px;">
        <div class="col-sm-2 col-xs-6">
          <a href="index.html">
            <img class="logo logo-light" alt="Logo" src="dist/assets/img/logo-light.png">
            <img class="logo logo-dark" alt="Logo" src="dist/assets/img/logo-dark.png">
          </a>
        </div>

        <div class="col-sm-9 col-md-10 columns">
          <ul class="menu" style="margin-left: 380px;">

            <li class=""><a style="cursor: pointer" [routerLink]="['jobs']" routerLinkActive="active">Jobs</a></li>
            <li class=""><a style="cursor: pointer" [routerLink]="['employers']" routerLinkActive="active">Employers</a></li>
            <li class=""><a style="cursor: pointer" [routerLink]="['dashboard']" routerLinkActive="active">Dashboard</a></li>

            <li class="" style="bottom: 15px;">
              <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img style="width: 40px; height: 40px;" src="dist/assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"><span style="margin-left: 10px;" class="caret"></span> </a>
              <ul class="dropdown-menu">
                <li><a href="#" style="color: #000;">Profile</a></li>
                <li><a href="#" style="color: #000;">Settings</a></li>
                <li><a href="#" style="color: #000;">Logout</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </nav>
</div>
