
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.notifications {
    position: absolute;
    z-index: 101;
    top: 60px;
    left: 0;
    right: 0;
    background: transparent;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
}

.notification p {
    padding:10px;
    line-height: 1.3;
}

.nav-tabs-alt .nav-tabs > li.active > a {
    border-bottom-color: #23b7e5 !important;
    border-bttom: 2px;
}

.nav-tabs-alt .nav-tabs.nav-justified > li.disabled,
.nav-tabs-alt .nav-tabs > li.disabled {
    color: #777;
    background-color: #dddddd !important;
}
