<div class="main-container">

  <section>

    <div class="row">
      <div class="col-md-12 text-center">
        <br><br><br><br><br><br><br><br>

        <h2>Do you want the brightest university talent at your fingertips?</h2>

        <h6>Get an Employer Profile and start building your talent pipeline, and engage and hire talented students and graduates. It has never been easier to have your own university pipeline across an international network of universities. </h6>

        <button class="btn btn-primary">Create Employer Profile</button>
        <button class="btn btn-default">Read More</button>
        <br><br><br><br><br><br><br><br><br><br><br><br>


      </div>
    </div>
  </section>

</div>