<app-nav></app-nav>

<div class="main-container">

  <header class="signup">
    <div class="background-image-holder parallax-background">
      <img class="background-image" width="100%" alt="Background Image" src="dist/assets/img/hero17.jpg">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
          <h2 class="text-white">Kick-start your career on Gradlead, the preferred career network for students and graduates.
            Jobs, internships, and graduate programmes, it’s all there.</h2>
        </div>
      </div>

      <div class="row text-center">

        <div class="col-sm-12 text-center">
          <div class="photo-form-wrapper clearfix">
            <form class="mail-list-signup">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
                  <input class="signup-name-field validate-required" type="text" placeholder="Enter Search Query">
                </div>

                <div class="col-md-4 col-sm-4">
                  <input class="signup-email-field validate-required validate-email" type="text" placeholder="Add Location">
                </div>

                <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                  <input type="submit" class="btn btn-primary btn-filled" value="Search">
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </header>

  <section class="primary-features duplicatable-content">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-6 clearfix">
          <div class="feature feature-icon-small">
            <i class="icon icon-document"></i>
            <h6 class="text-white">Fully Documented</h6>
            <p class="text-white">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
            </p>
          </div><!--end of feature-->
        </div>

        <div class="col-md-4 col-sm-6 clearfix">
          <div class="feature feature-icon-small">
            <i class="icon icon-linegraph"></i>
            <h6 class="text-white">Flexible &amp; Modular</h6>
            <p class="text-white">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
            </p>
          </div><!--end of feature-->
        </div>

        <div class="col-md-4 col-sm-6 clearfix">
          <div class="feature feature-icon-small">
            <i class="icon icon-target"></i>
            <h6 class="text-white">Super Sleek Icons</h6>
            <p class="text-white">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
            </p>
          </div><!--end of feature-->
        </div>

      </div><!--end of row-->

    </div><!--end of container-->
  </section>

  <section class="side-image text-heavy clearfix" style="background: #a4a4a4;">

    <div class="container">

      <div class="row">
        <h2 style="color: #ffffff;">Jobs In Ghana</h2>
        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Vodafon Ghana</h5>
                  <h4>Telecom Industry</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Vodafon Ghana</h5>
                  <h4>Telecom Industry</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Vodafon Ghana</h5>
                  <h4>Telecom Industry</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Vodafon Ghana</h5>
                  <h4>Telecom Industry</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Vodafon Ghana</h5>
                  <h4>Telecom Industry</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Vodafon Ghana</h5>
                  <h4>Telecom Industry</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="duplicatable-content">

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Showcase services in a<br>spacious &amp; clean manner</h1>
        </div>
      </div><!--end of row-->

      <div class="row">
        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <i class="icon icon-genius"></i>
            </div>
            <div class="pull-right">
              <h5>Distinct Visual Style</h5>
              <p>
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
              </p>
            </div>
          </div>
        </div><!--end 6 col-->

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <i class="icon icon-linegraph"></i>
            </div>
            <div class="pull-right">
              <h5>Multiple Demos</h5>
              <p>
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
              </p>
            </div>
          </div>
        </div><!--end 6 col-->

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <i class="icon icon-tools-2"></i>
            </div>
            <div class="pull-right">
              <h5>Flexible Page Builder</h5>
              <p>
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
              </p>
            </div>
          </div>
        </div><!--end 6 col-->

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <i class="icon icon-desktop"></i>
            </div>
            <div class="pull-right">
              <h5>Fully Responsive</h5>
              <p>
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
              </p>
            </div>
          </div>
        </div><!--end 6 col-->

      </div><!--end of row-->
    </div>

  </section>

  <section class="side-image text-heavy clearfix" style="background: #a4a4a4;">

    <div class="container">

      <div class="row">
        <h2 style="color: #ffffff;">Featured Companies</h2>
        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Vodafon Ghana</h5>
                  <h4>Telecom Industry</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Huawei</h5>
                  <h4>Telecom Industry</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 blog-masonry-item development card">
          <div class="item-inner quote-post">
            <div class="post-title">
              <div class="row">
                <div class="col-md-4"><img src="dist/assets/images/users/avatar-1.jpg" class="img-circle emp-logo"></div>
                <div class="col-md-8">
                  <h5 class="real-h5">Bank of Africa</h5>
                  <h4>Banking & Finance</h4>
                </div>
              </div>
              <h3>Sales Manager</h3>
              <div class="post-meta">
                <span class="sub alt-font">Ghana</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="clients-2">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4">
          <img alt="Client Logo" src="dist/assets/img/client1.png">
        </div>

        <div class="col-md-2 col-sm-4">
          <img alt="Client Logo" src="dist/assets/img/client2.png">
        </div>

        <div class="col-md-2 col-sm-4">
          <img alt="Client Logo" src="dist/assets/img/client3.png">
        </div>

        <div class="col-md-2 col-sm-4">
          <img alt="Client Logo" src="dist/assets/img/client4.png">
        </div>

        <div class="col-md-2 col-sm-4">
          <img alt="Client Logo" src="dist/assets/img/client5.png">
        </div>

        <div class="col-md-2 col-sm-4">
          <img alt="Client Logo" src="dist/assets/img/client6.png">
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </section>

</div>
<div class="footer-container">


  <footer class="short bg-secondary-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <span class="sub">© Copright 2014 Medium Rare</span>
          <ul>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Privacy &amp; Security Statement</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>

        <div class="col-sm-2 text-right">
          <ul class="social-icons">
            <li>
              <a href="#">
                <i class="icon social_twitter"></i>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="icon social_facebook"></i>
              </a>
            </li>
          </ul>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </footer>
</div>






